<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Css/Admin.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <style>
        .pageAdmin {
        }

            .pageAdmin .headerPageAdmin {
                padding: 0 4vw;
                background-color: blue;
                height: 10vh;
                font-size: 1.25vw;
                font-weight: bold;
                color: white;
            }

                .pageAdmin .headerPageAdmin .logoAdmin {
                    cursor: pointer;
                }

                .pageAdmin .headerPageAdmin .logoutAdmin {
                    cursor: pointer;
                    background-color: white;
                    color: blue;
                    padding: 0.6vw;
                    border-radius: 7px;
                }

            .pageAdmin .bodyPageAdmin {
            }

                .pageAdmin .bodyPageAdmin .sideBarAdmin {
                    background-color: white;
                    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.08), 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
                    min-height:90vh;
                    width: 20vw !important;
                    padding-top: 3vh;
                }

                    .pageAdmin .bodyPageAdmin .sideBarAdmin a {
                        padding: 2vh 0;
                        cursor: pointer;
                        text-decoration: none;
                        width: 100%;
                        text-align: center;
                        color: black !important;
                    }

        a {
            color: black !important;
        }

            a:hover {
                text-decoration: none !important;
            }

        .pageAdmin .bodyPageAdmin .sideBarAdmin a:hover {
            background: #f1f1f1;
        }
        .contentAdmin {
            width: 80vw !important;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="pageAdmin">
        <div class="headerPageAdmin d-flex justify-content-between align-items-center">
            <div class="logoAdmin">
                <span>DNews</span>
            </div>
            <div class="logoutAdmin">
                <span>Logout</span>
            </div>
        </div>
        <div class="bodyPageAdmin d-flex">
            <div class="sideBarAdmin d-flex flex-column align-items-center">
                @Html.ActionLink("News", "News", "Admin")
                @Html.ActionLink("Categories", "Categories", "Admin")
                @Html.ActionLink("LoGo", "LoGo", "Admin")
                @Html.ActionLink("Accounts", "Accounts", "Admin")
            </div>
            <div class="contentAdmin">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>