@model websitestintuc.Models.Account

@{
    ViewBag.Title = "DeleteAccounts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa tài khoản</h2>

<h3>Bạn có thật sự muốn xóa không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.displayname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Accounts")
        </div>
    }
</div>
