@model websitestintuc.Models.Account

@{
    ViewBag.Title = "DetailsAccounts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.displayname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở Về", "Accounts")
</p>
