@using websitestintuc.Models
@using PagedList.Mvc;
@model PagedList.PagedList<websitestintuc.Models.TinTuc>
@helper Cuts(string input, int length)
{
    if (input != null)
    {
        if (input.Length < length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }
}

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Quản lí Tin Tức</h2>
<p>
    @Html.ActionLink("Thêm Tin Mới", "Themtinmoi")
</p>

<table class="table" border="1">
    <tr>
        <th style="width:10%">Tiêu Đề </th>
        <th style="width:30%">Miêu Tả </th>
        <th style="width:10%">Ngày Đăng </th>
        <th style="width:10%">TopList </th>
        <th style="width:10%"> Ảnh</th>
        <th style="width:5%">Link </th>
        <th style="width:5%">IDLoGo </th>
        <th style="width:5%">IDcategory </th>
        <th style="width:15%"> </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Cuts(item.title, 70)
            </td>
            <td>
                @Cuts(item.description, 100)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.topList)
            </td>
            <td>
                <img src="@Url.Content("~/ImageUpload/" +item.Imagedemo)" width="100" height="100" />

            </td>
            <td>
                @Cuts(item.Link , 50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDlogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDcategory)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Editnews", new { id = item.ID }) |
                @Html.ActionLink("Chi Tiết", "Detailsnews", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Deletenews", new { id = item.ID })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount;
<div class="menutrang">
    @Html.PagedListPager(Model, page=> Url.Action("News", new { page = page}))
</div>
<style>
    .menutrang li{
        display: inline;
    }
</style>